.Ads__header {
    padding: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #f1f1f1;
}

.Header__title {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

.Header__button {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: black;
    color: white;
    outline: none;
    cursor:pointer;
    overflow: hidden;
    background-repeat:no-repeat;
    
    
}

.Header__button:hover {
    transition: height .3s;
}

.Ads__content {
    padding: 24px;
}

.Content__box {
    padding: 23px 25px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    background-color: mediumorchid;

}

.Box__info {
    font-size: 18px;
}

.Box__name {
    font-size: 17px;
}

.Box__phone {
    font-size: 17px;
}